page-login {

}

.red_toast{
 background-color: red;
}

ion-content{
    background-image: url('../assets/imgs/background.jpg');
    background-position: center;
    background-position-y: 40px;
    background-position-x: -320px;
}