<ion-header>

  <ion-navbar>
    <ion-title>resultados</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-label>Partidos Jugados</ion-label>
      <ion-toggle [(ngModel)]="verJugados"></ion-toggle>
    </ion-item>
  </ion-card>

  <h2>Partidos: {{categoria}}</h2>

  <div *ngFor="let partido of resultados ; index as i;">
    <ion-card *ngIf="(verJugados && partido.jugado) || (!verJugados && !partido.jugado)">
      <ion-card-header>
        Partido {{partido.id}} | Grupo: {{partido.grupo}}
        <small float-right> {{partido.fecha | date:' dd-MM HH:mm' }}hs </small>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="partido.Equipo1.imagen">
          </ion-avatar>
          <h2 float-left>{{partido.Equipo1.nombre }}</h2>
          <ion-badge color="main" *ngIf="partido.jugado" item-end float-right>{{partido.goles1}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="partido.Equipo2.imagen">
          </ion-avatar>
          <h2 float-left>{{partido.Equipo2.nombre }}</h2>
          <ion-badge color="main" *ngIf="partido.jugado" item-end float-right>{{partido.goles2}}</ion-badge>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="resultados.length == 0">
    <ion-card-content>
      <p>Todavía no hay datos cargados.</p>
      <p>Banca la ansiedad rope.</p>
    </ion-card-content>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="main" (click)="mostrarFiltros()">
      <ion-icon name="ios-funnel"></ion-icon>
    </button>
  </ion-fab>


</ion-content>